body {
	width: 100vw;
	min-height: 100vh;
	font-family: 'Spartan', sans-serif;
	background-image: url(images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg);	background-repeat: no-repeat;
	background-size: 80%;
	background-position: 12rem 0rem;
}

.main-container {
	width: 95%;
	display: block;
	margin: auto;
}

.top-section {
	margin-top: 3rem;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.text-container {
	margin-bottom: 3rem;
}

.text-container h1 {
	font-size: 10vw;
	color: hsl(300, 43%, 22%);
	margin-bottom: 1rem;
}

.text-container p {
	color: hsl(303, 10%, 53%);
	font-size: 4vw;
	line-height: 4vh;
}

.ratings-container {
	height: 45vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 4rem;
}

.rating-div {
	height: 28%;
	background-color: hsl(300, 24%, 96%);
	font-weight: bold;
	color: hsl(300, 43%, 22%);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.bottom-section {
	margin-bottom: 0rem;
	display: flex;
	flex-direction: column;
}

.testimonial {
	background-color: hsl(300, 43%, 22%);
	border-radius: 6px;
	min-height: 10rem;
	color: #fff;
	padding: 2rem 1.4rem;
	margin-bottom: 1rem;
}

.testimonial-top {
	display: flex;
	align-items: center;
	margin-bottom: 1rem; 
}

.testimonial-top img {
	width: 60px;
	border-radius: 100%;
	margin-right: 1rem;
}

.testimonial-top h3 {
	font-size: 1rem;
}

.testimonial-top span {
	color: #C55788;
	font-weight: 100;
	line-height: 2rem;
}

.testimonial p {
	font-size: 15px;
	line-height: 1.2rem;
	color: #E1C9E1;
}

.attribution {
	margin-bottom: 1rem;
}

@media screen and (min-width: 702px) {
	
	.text-container h1 {
		line-height: 5rem;
		margin-bottom: 1.5rem;
	}

	.text-container p {
		line-height: 2.5rem;
		margin-right: 4rem;
	}
	
	.rating-div p {
		font-size: 16px;
	}

	.stars-div img {
		width: 20px;
	}

	.testimonial img {
		width: 50px;
		margin-top: -10px;
	}

	.testimonial h3 {
		font-size: 1rem;
	}

	.testimonial p {
		font-size: 13px;
		line-height: 1.5rem;
	}
}

@media screen and (min-width: 1080px) {
	.main-container {
		width: 82%;
		min-height: 100vh;
	}

	.top-section {
		min-height: 16rem;
		flex-direction: row;
		margin-top: 5rem;
	}

	.text-container {
		width: 50%;
		text-align: left;
	}

	.text-container h1 {
		font-size: 3rem;
		line-height: 3rem;
		margin-right: 9rem;
	}

	.text-container p {
		font-size: 1rem;
		line-height: 1.8rem;
	}

	.ratings-container {
		width: 50%;
		height: 20rem;
		padding: 1rem 0;
		margin-bottom: 0;
		justify-content: space-around;
		align-items: center;
	}

	.rating-div {
		width: 80%;
		height: 20%;
		padding: 1rem 2rem;
		flex-direction: row;
		align-items: center;
	}

	.rate1 {
		position: relative;
		right: 10%;
	}

	.rate3 {
		position: relative;
		left: 10%;
	}

	.stars-div {
		margin-right: 1rem;
	}

	.bottom-section {
		min-height: 20rem;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.testimonial {
		min-height: 14rem;
		width: 32%;
		margin-bottom: 0;
	}

	.testimonial1, .testimonial3 {
		position: relative;
		bottom: 1.4rem;
	}

	.testimonial3 {
		top: 1.4rem;
	}

}